.footerWrapper {
    display: flex;
    justify-content: center;
    background:
    url("./right.svg") no-repeat top 0px right 0px,
    linear-gradient(-5deg, #1E77E1 0%,#1E77E1 20%,transparent 20%,transparent 100%),
    url("./footer.svg") no-repeat bottom 40px left 0px;
    position: relative;
    z-index: 1;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 300px;
    margin-bottom: 300px;
    padding: 0 100px;
}

.address {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: flex-end;
    color: #A9A9A9;
}
