.howItWorksWrapper {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin-bottom: -100px;
    position: relative;
    z-index: 1;
    background:
            linear-gradient(5deg, transparent 0%,transparent 15%,#0063f7 15%,#0063f7 86%,transparent 86%,transparent 100%),
            linear-gradient(-5deg, transparent 0%,transparent 50%,#02D8F4 50%,#02D8F4 86%,transparent 86%,transparent 100%);
}

.title {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    margin-top: 140px;
}

.howItWorks {
    display: flex;
    justify-content: space-between;
    margin-top: 72px;
}

.howItWorkWrapper {
    display: flex;
    margin-right: 22px;
}

.howItWorkWrapper:last-child {
    margin-right: 0px;
}

@media screen and (min-width: 768px) {
    .howItWorks {
        flex-direction: column;
    }
    .howItWorkWrapper:last-child {
        margin-bottom: 0;
    }
    .howItWorkWrapper {
        margin-bottom: 22px;
        margin-right: 0;
    }
}

@media screen and (min-width: 970px) {
    .howItWorks {
        flex-direction: row;
    }

    .howItWorkWrapper {
        margin-bottom: 0;
        margin-right: 22px;
    }
    .howItWorkWrapper:last-child {
        margin-right: 0;
    }
}
